:root {
    --gradient: linear-gradient(to left top, #d1e7dd 10%, #41a15c 90%) !important;
}

body {
    background: rgba(233 240 246 / 75%) !important;
}


.btn {
    border: 3px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
}

.btn:hover,
.btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: rgb(163, 237, 196) !important;
    border: 5px solid #fff !important;
    /* box-shadow: rgb(25, 67, 10) 1px 0 10px;  */
    box-shadow: #d1e7dd;
    text-decoration: underline;
}

.navbar-brand {
    width: 80px;
    margin-right: 60%;
}