
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate_full_stars > input:checked ~ label {
    color: #ffc700;    
}
.fa-star{
    color: #ffc700;
}
.reviews-container {
    height: 300px;
    overflow: auto;
}
.reviews li{
    list-style: none;
        padding: 10px;
        border-bottom: 1px solid #ddd;

}

:root {
    --gradient: linear-gradient(to left top, #d1e7dd 10%, #41a15c 90%) !important;
}

body {
    /* background: rgba(237, 239, 225, 0.963) !important; */
    background: #f5f7fa !important;
}

.card {
    width: 290px;
    height: 580px;
    margin-top: 35px;
    /* background: rgb(26, 45, 45);  */
    background-color: #243F3F;
    border: 1px solid #4d4a4b;
    color: white;
    margin-bottom: 2rem;
}
.card:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}


.btn {
    --bs-btn-color: #cad3dc;
    border: 2px solid;
    position: absolute;
    top: 480px;
    margin-left: 50px;
}

.btn:hover,
.btn:focus {
    /* background: var(--gradient) !important; */
    -webkit-background-clip: none !important;
    /* -webkit-text-fill-color: rgb(210, 232, 226) !important; */
    border: 3px solid #fff !important;
    /* box-shadow: rgb(25, 67, 10) 1px 0 10px;  */
    box-shadow:#d1e7dd;
    text-decoration: none;
}
.navbar-brand{
    width: 80px;
    margin-right: 60%;
}
.card-img-top{
    clip: rect(0, 290px, 216px, 0);
    position: absolute;
}
.card-img-spacer{
    width: 290px;
    height: 216px;
}

/* //////////////////////////// home page style for search bar \\\\\\\\\\\\\\\\\\\\ */
.search-bar-div{
    margin-left: 30%;
}
.tool-details{
    display: inline-block;
    border-bottom: 2px #aeaaaa solid;
    padding: 0 0 12px 0;
    
}
.tool-details-div{
    border-bottom: 1px #aeaaaa solid;
    padding: 0 0 5px 0;
    margin-bottom: 30px
}

.user-dashboard-map-card{
/* display: flex; */
}
.h3-home-p{
    /* position: relative; */
    margin-top: 20px;
    /* margin-right: 75%; */
    text-align: left;
    margin-left: 85px;
}
.h3-home-p2{
    /* margin-right: 65%; */
    text-align: left;
    margin-left: 175px;
}
.h3-home-p3{
    /* margin-right: 55%; */
    text-align: left;
    margin-left: 275px;
}
.h5-home-p3{
    /* margin-right: 75%; */
        margin-left: 30px;
        text-align: left;
        font-style: italic;
        font-weight: normal;
}
.tool-details-img{
 display: inline-block;
-ms-flex-direction: column-reverse;
    /* margin-left: 50px; */
}
.text-home-p{
    
}
#loginPassword-react{
background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    line-height: 40px;
    margin-right: 5px;
    min-width: 25%;
}
input[type=text] {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    line-height: 40px;
    margin-right: 10px;
    min-width: 25%;
    width: 300px;
}
#email{
    background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        line-height: 40px;
        margin-right: 10px;
        min-width: 25%;
}
#tool-end-daydit{
    background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        line-height: 40px;
        margin-right: 10px;
        min-width: 25%;
        width: 300px;
    }
#tool-start-daydit{
    background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        line-height: 40px;
        margin-right: 10px;
        min-width: 25%;
        width: 300px;
}
#tool-end-day{
    background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        line-height: 40px;
        margin-right: 10px;
        min-width: 25%;
}
#tool-start-day{
    background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        line-height: 40px;
        margin-right: 10px;
        min-width: 25%;
}

#loginPassword{
    background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        line-height: 40px;
        margin-right: 10px;
        min-width: 25%;
}
#tool-price{
    background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        line-height: 40px;
        margin-right: 10px;
        min-width: 25%;
}
#tool-price{
background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    line-height: 40px;
    margin-right: 10px;
    min-width: 25%;
}
.dates{
    background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        line-height: 40px;
        margin-right: 10px;
        min-width: 25%;
}

/* ////////////////////////// Reservation page \\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.product-details {
    padding: 10px;
}
.p-about {
    font-size: 12px;
}
.table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
}
.type {
    font-weight: 400;
    font-size: 10px;
}
label.radio {
    cursor: pointer;
}
label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}
.line {
    border-bottom: 1px solid rgb(102, 102, 221);
}

.information span {
    font-size: 12px;
    font-weight: 500;
}

.information {
    margin-bottom: 5px;
}

.items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
}

.spec {
    font-size: 11px;
}
label.radio span {
    padding: 1px 12px;
    border: 2px solid #ada9a9;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
}
label.radio input:checked+span {
    border-color: #fff;
    background-color: blue;
    color: #fff;
}
.res-card{
    display: flex;
    
}
.tool-info{
        padding: 20px;
            /* background-color: #ddedec; */
            border-radius: 1.5rem;
            margin-top: 25px;
}
.tool-info h5{
        display: grid;
        grid-template-columns: 400px auto;
        padding-top: 25px;
        margin-left: 35px;
}
.edit-tools{
        display: grid;
        grid-template-columns: auto auto;
}
.login-form{
    display: grid;
    grid-template-columns: auto auto;
}

.tool-dit-div{
    display: grid;
    grid-template-columns: 400px auto;
    padding-top: 25px;
    /* //// backround color  ////// */

        padding: 20px;
        background-color: #ddedec;
        border-radius: 1.5rem;
        margin-top: 25px;
        /* margin-left: 50px; */
}
.tool-dit-div img{
    margin-left: 30px;
}
.edit-toolcard{
    border-radius: 2px;
    display:flex;

}
.edit-tool{
    display:inline-block;
}
.edit-image{
    display: inline-block;
}
.edit-image img{
    border-radius: 5px;
}
.d-block{
        margin-right: 20px px;
}
.ml-2{
    padding: 35px;
}
.d-flex{
justify-content: space-around;
}
.link-home{
    align-items: flex-start;
}
.delete-reservation{
    padding: 10px;
    border-block-end-style: none;
    border-block-start-style: none;
    border-right-style: none;
    border-left-style:none ;
}
/* #map{
    margin-top: 40px;
} */
.invoice-page{
    display: grid;
    grid-template-columns: auto auto;
}
.section-invoice{
    /* margin-top: 25px; */
}
/* //////////////////////////////////////////////////////////////////////// */

.receipt-content .logo a:hover {
    text-decoration: none;
    color: #7793C4;
}

.receipt-content .invoice-wrapper {
    background: #FFF;
    border: 1px solid #CDD3E2;
    box-shadow: 0px 0px 1px #CCC;
    padding: 40px 40px 60px;
    /* margin-top: 40px; */
    border-radius: 4px;
}

.receipt-content .invoice-wrapper .payment-details span {
    color: #A9B0BB;
    display: block;
}

.receipt-content .invoice-wrapper .payment-details a {
    display: inline-block;
    margin-top: 5px;
}

.receipt-content .invoice-wrapper .line-items .print a {
    display: inline-block;
    border: 1px solid #9CB5D6;
    padding: 13px 13px;
    border-radius: 5px;
    color: #708DC0;
    font-size: 13px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.receipt-content .invoice-wrapper .line-items .print a:hover {
    text-decoration: none;
    border-color: #333;
    color: #333;
}


@media (min-width: 1200px) {
    .receipt-content .container {
        width: 800px;
    }
}

.receipt-content .logo {
    text-align: center;
    margin-top: 50px;
}

.receipt-content .logo a {
    font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
    font-size: 36px;
    letter-spacing: .1px;
    color: #555;
    font-weight: 300;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.receipt-content .invoice-wrapper .intro {
    line-height: 25px;
    color: #444;
}

.receipt-content .invoice-wrapper .payment-info {
    margin-top: 25px;
    padding-top: 15px;
}

.receipt-content .invoice-wrapper .payment-info span {
    color: #A9B0BB;
}

.receipt-content .invoice-wrapper .payment-info strong {
    display: block;
    color: #444;
    margin-top: 3px;
}

@media (max-width: 767px) {
    .receipt-content .invoice-wrapper .payment-info .text-right {
        text-align: left;
        margin-top: 20px;
    }
}

.receipt-content .invoice-wrapper .payment-details {
    border-top: 2px solid #EBECEE;
    margin-top: 30px;
    padding-top: 20px;
    line-height: 22px;
}


@media (max-width: 767px) {
    .receipt-content .invoice-wrapper .payment-details .text-right {
        text-align: left;
        margin-top: 20px;
    }
}

.receipt-content .invoice-wrapper .line-items {
    margin-top: 40px;
}

.receipt-content .invoice-wrapper .line-items .headers {
    color: #A9B0BB;
    font-size: 13px;
    letter-spacing: .3px;
    border-bottom: 2px solid #EBECEE;
    padding-bottom: 4px;
}

.receipt-content .invoice-wrapper .line-items .items {
    margin-top: 8px;
    border-bottom: 2px solid #EBECEE;
    padding-bottom: 8px;
}

.receipt-content .invoice-wrapper .line-items .items .item {
    padding: 10px 0;
    color: #696969;
    font-size: 15px;
}

@media (max-width: 767px) {
    .receipt-content .invoice-wrapper .line-items .items .item {
        font-size: 13px;
    }
}

.receipt-content .invoice-wrapper .line-items .items .item .amount {
    letter-spacing: 0.1px;
    color: #84868A;
    font-size: 16px;
}

@media (max-width: 767px) {
    .receipt-content .invoice-wrapper .line-items .items .item .amount {
        font-size: 13px;
    }
}

.receipt-content .invoice-wrapper .line-items .total {
    margin-top: 10px;
}

.receipt-content .invoice-wrapper .line-items .total .extra-notes {
    float: left;
    width: 40%;
    text-align: left;
    font-size: 13px;
    color: #7A7A7A;
    line-height: 20px;
}

@media (max-width: 767px) {
    .receipt-content .invoice-wrapper .line-items .total .extra-notes {
        width: 100%;
        margin-bottom: 30px;
        float: none;
    }
}

.receipt-content .invoice-wrapper .line-items .total .extra-notes strong {
    display: block;
    margin-bottom: 5px;
    color: #454545;
}

.receipt-content .invoice-wrapper .line-items .total .field {
    margin-bottom: 7px;
    font-size: 14px;
    color: #555;
}

.receipt-content .invoice-wrapper .line-items .total .field.grand-total {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

.receipt-content .invoice-wrapper .line-items .total .field.grand-total span {
    color: #20A720;
    font-size: 16px;
}

.receipt-content .invoice-wrapper .line-items .total .field span {
    display: inline-block;
    margin-left: 20px;
    min-width: 85px;
    color: #84868A;
    font-size: 15px;
}

.receipt-content .invoice-wrapper .line-items .print {
    margin-top: 50px;
    text-align: center;
}



.receipt-content .invoice-wrapper .line-items .print a i {
    margin-right: 3px;
    font-size: 14px;
}

.receipt-content .footer {
    margin-top: 40px;
    margin-bottom: 110px;
    text-align: center;
    font-size: 12px;
    color: #969CAD;
}
.row-header{
    /* display: flex; */
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto;
}
.total{
    display: flex;
        justify-content: space-between;
}
.check-out{
    color: #fff;
    background-color: #8c999b;
    border-color: #8c999b;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
}
.checkout-button{
        color: #fff;
        background-color: #8c999b;
            border-color: #8c999b;
            border-radius: 0.3rem;
            padding: 0.5rem 1rem;
}
.submit-button {
    color: #fff;
    background-color: #8c999b;
        border-color: #8c999b;
        border-radius: 0.3rem;
        padding: 0.5rem 1rem;
        width: 30%;
        display: block;
}

#submit_review{
    background-color: #8c999b;
    border-color: #8c999b;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    color:white;
}
.fa-home i{
/* background-color: #8c999b; */
    border-color: #8c999b;
}