*{

  margin: 0 auto;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale
}

 #map {
   height: 800px;
   width: 800px;
   margin-top: 30px;

   border-bottom: 1px #aeaaaa solid;
   padding: 0 0 5px 0;
   margin-bottom: 30px
  }
.user-dashboard-map-card {
    display: flex;
}
  #map-foruser_dashboard{
   width: 1600px;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 10 auto;
    padding: 10px;
    /* font-family: "Arial", sans-serif; */
  }
  
  input[type=text] {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    line-height: 40px;
    margin-right: 0;
    min-width: 25%;
  }
  
  input[type=button] {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
    margin-left: 5px;
  }
  input[type=button]:hover {
    background: rgb(235, 235, 235);
  }
  input[type=button].button-primary {
    background-color: #1a73e8;
    color: white;
  }
  input[type=button].button-primary:hover {
    background-color: #1765cc;
  }
  input[type=button].button-secondary {
    background-color: white;
    color: #1a73e8;
  }
  input[type=button].button-secondary:hover {
    background-color: #d2e3fc;
  }
  
  #response-container {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    overflow: auto;
    max-height: 50%;
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: small;
  }
  
  #instructions {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    padding: 1rem;
    font-size: medium;
  }

  /* /////////////////////////// Adding pop-up box for login and register  */

.nav-link:hover{
    color:#ffffff;
    border: 2px solid #fff !important;
    text-decoration: underline;

}
.nav-link:focus{
    -webkit-background-clip: none !important;
    box-shadow: #d1e7dd;
    
    /* box-shadow: #191c1b; */
}
.card-title a{
    font-weight: 600;
    color: #8ab4f8;
}
.nav-link{
    color:#000000;
    white-space: nowrap;
}
.user-card-footer a{
    color: #cad3dc;
        /* border: 2px solid;
        position: absolute;
        top: 480px; */
        margin-left: 40px;
    font-weight: 600;
    color: #e3e6f2; 
}
.user-card-footer{
    margin-bottom: 55px;
}

.card-body a{
    font-weight: 600;
    color: #8ab4f8;
    /* height: 320px; */
}

.col-md-4 div:hover{
        -webkit-background-clip: none !important;
        border: 1px solid #fff !important;
        box-shadow: #0c271b;
        /* text-decoration: underline; */
}
.container {
    margin-top: 40px;
    /* background-color: #d1e7dd; */
    /* background-color: #d1e7dd;
    border-radius: 2em; */
}
.container-all-tool{
    background-color: #ddedec;
        border-radius: 1.5em;
        padding:20px;
}
/* //////////////////////////       LOGIN                     ///////////////// */

.form-signin{
    /* position: absolute; */
    /* align-items: center; */
    right: 0;
    margin: 20px;
    margin-right: 65px;
    max-width: auto;
            /* max-width: 450px; */
    padding: 20px;
    background-color: #ddedec;
    border-radius: 1.5rem;
    
}
.form-signin h5{
        text-align: center;
}
.form-signin:hover{
    -webkit-background-clip: none !important;
        border: 2px solid #fff !important;
        box-shadow: #eaf4ef;
}
.submit-login{
        background-color: #8c999b;
          /* .form-signin  color: white; */
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        border-radius: 1.5rem;
}
.form-register h5{
        text-align: center;
}
.submit-login:hover,
.submit-login:focus {
    -webkit-background-clip: none !important;
    border: 3px solid #fff !important;
    box-shadow: #d1e7dd;
    text-decoration: underline;
}
.form-register{
    position: relative;
        /* align-items: center; */
        right: 0;
        margin: 20px;
        max-width: auto;
        padding: 20px;
        background-color: #ddedec;
        border-radius: 1rem;
}
.form-register:hover {
    -webkit-background-clip: none !important;
    border: 2px solid #fff !important;
    box-shadow: #eaf4ef;
}
.edit-h5{
    margin: 25px 0 35px 5px;
    text-align: center;
}
.reg-text{
    margin-top: 100px;
}
/* .submit-button {
    color: #fff;
    background-color: #8c999b;
    border-color: #8c999b;
} */
#tool-name{
    width: 400px;
    padding:10px;
}
#tool-description{
    width: 400px;
    padding: 10px;
}
#tool-price{
    width: 400px;
    padding: 10px;
}
.dates{
        width: 400px;
        padding: 10px;
}
.edit-image{
    padding: 40px;
    margin-top: 30px;
    margin-right: 30px;
}
.edit-tool{
    margin-top: 30px;
}
.edit-toolcard{
    background-color: #ddedec;
    border-radius: 2rem;
    margin-top: 20px;
}



/* //////////// */
.add-tool{
    margin-left: 35px;
    padding: 25px;
}
#search_tool_name{
        margin-left: 25%;
        margin-top: 20px;
        border-radius: 2em;
        border: solid 2px;
        width: 300px;
}
#search_tool_submit{
        width: 100px;
            height: 40px;
            border-radius: 2em;
            background-color: #ea4335;
}