{% extends 'base.html' %}
{% block title %}NearME all tools page{% endblock %}
{% block body %}
<h1>Welcome to the Tool Page!</h1>
{% for tool in tools %}
<div class="tool_div"> 
    <h1> ALL TOOLS PAGE</h1>
    
    <a href="/tools/{{tool.tool_id}}">
        {{tool.tool_name}} {{tool.description}} </a>
    <p>{{tool.price}}$</p><br>
    <p><img src="{{tool.tool_image }}"></p>
        {% for review in tool.reviews  %}
    <div>
            <p>{{review.user.first_name }}</p>
    </div>
    {% endfor %}
</div>
{% if session.get('user_id') != tool.user_id %}
<a href="/tools/{{tool.tool_id}}"> Reserve A tool</a>
{% endif %}
{% endfor %}

{% endblock %}