{% extends 'base.html' %}
{% block title %}NearME all tools page{% endblock %}


{% block body %}
<h1>Welcome to the Tool Page!</h1>
{% for tool in tools %}
<div class="tool_div">
    <h1> ALL TOOLS PAGE</h1>

    <a href="/tools/{{tool.tool_id}}">
        {{tool.tool_name}} {{tool.description}} </a>
    <p>{{tool.price}}$</p><br>
    <p><img src="{{tool.tool_image }}"></p>
    <div class="reviews">
       <p> Average rating is: {{tool.get_avg_review_of_tool()}} ({{tool.reviews|length}})</p>
        
    
    <ul>
    {% for review in tool.reviews %}
        <li>
            {% for i in range(review.rating) %}
                <i class="fa fa-star"></i>
            {% endfor %}
            {% if review.comment != None %}
               {{ review.comment }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    </div>
</div>
{% if session.get('user_id') != tool.user_id %}
<a href="/tools/{{tool.tool_id}}"> Reserve A tool</a>
{% endif %}
{% for reservation in tool.reservations %}
    {% if session.get('user_id') == reservation.user.user_id  %}
        <div>   
            <h3>You have rented this tool before!</h3>
        </div>
    {% endif %}
{% endfor%}
{% endfor %}
<link rel="stylesheet" href="/static/css/review.css">

{% endblock %}