{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}

<!-- <form action="/users/new" method="POST">
    <p>
        First Name <input type="text" name="fname"/ >
    </p>
    <p>
        Last Name<input type="text" name="lname" />
    </p>
    <p>
        Email <input type="text" name="email" />
    </p>

    <p>
        Password <input type="password" name="password" />
    </p>
    <p>
        Your Addrress <input type="text" name="address" />
    </p>
    <p>
        Upload your img: <input type="file" id="file" name="file"></p>
    <p>
    <p>
        <input type="submit" /  >
    </p>

        

</form> -->

<div class="login-form">
    <div id="app"> </div>
    <div  class="login">
        <form  class="form-signin" action="/login" method="POST">
            <h5>SignIn</h5>
            <p> 
                <input id="email"  type="email" name="email" />
                <label class="form-label" for="email"> Email </label>
            </p>
            <p>
                <input id="loginPassword" type="password" name="password"/>
                <label lass="form-label" for="loginPassword">Password</label>
            </p>
            <p>
                <!-- <button type="submit" class="btn btn-primary btn-block md-3">Sign in</button> -->
                <button  class="submit-login" type="submit-login">Sign in</button>
            </p>
        </form>
    </div>
</div>


<!-- <h1>This is happy REACT form</h1> -->
<!-- <div id ="registration-popup" > </div> -->
<script type="text/jsx" src="/static/js/loginRegister.jsx"></script>


{% endblock %}