
{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
<p class="text-left h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create an Account</p>
<!-- <form action="/users/new" method="POST">
    <p>
        First Name <input type="text" name="fname"/ >
    </p>
    <p>
        Last Name<input type="text" name="lname" />
    </p>
    <p>
        Email <input type="text" name="email" />
    </p>

    <p>
        Password <input type="password" name="password" />
    </p>
    <p>
        Your Addrress <input type="text" name="address" />
    </p>
    <p>
        Upload your img: <input type="file" id="file" name="file"></p>
    <p>
    <p>
        <input type="submit" /  >
    </p>
</form> -->
<div id="app"> </div>

<h2>Log In</h2>
<form action="/login" method="POST">
    <p>
        Email <input type="text" name="email"/>
    </p>

    <p>
        Password <input type="password" name="password"/>
    </p>

    <p>
        <input type="submit" />
    </p>
</form>



<!-- <h1>This is happy REACT form</h1> -->
<!-- <div id ="registration-popup" > </div> -->
<script type="text/jsx" src="/static/js/loginRegister.jsx"></script>


{% endblock %}