{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}

<div class="login-form">
    <div id="app"> </div>
    <div  class="login">
        <form  class="form-signin" action="/login" method="POST">
            <h5>SignIn</h5>
            <p> 
                <input id="email"  type="email" name="email" />
                <label class="form-label" for="email"> Email </label>
            </p>
            <p>
                <input id="loginPassword" type="password" name="password"/>
                <label lass="form-label" for="loginPassword">Password</label>
            </p>
            <p>
                <button  class="submit-login" type="submit-login">Sign in</button>
            </p>
        </form>
    </div>
</div>

<script type="text/jsx" src="/static/js/loginRegister.jsx"></script>


{% endblock %}