{% extends 'base.html' %}

<h1> Hello {{user.first_name}}</h1>

{% block body %}

<div class="tool-info">
    <div class="bg-image  text-left" style="
                background-image: url('https://www.rr-rentals.com/slideshow/slide-8.jpg?v=17');
                height: 90vh; 
                color:white;
                border-radius: 1.5rem">
        <br>
        <div class="add-tool" >
            
            <div>
                <h5></h5><a href="/tools"><i class="fa fa-home"></i></a>
                Create a Tool </h5>

            </div>
        <form action="/tools/new" method="POST" enctype="multipart/form-data">
            <p>
                <input id="tool-name" type="text" name="name" />
                <label for="tool-name">Tool Name </label>
            </p>
            <p>
                <input id="tool-description" type="text" name="description" />
                <label for="tool-description">Description </label>
            </p>
            <p>
                <input id="tool-price" type="number" min="1" step="0.01" name="price">
                <label for="tool-price">Price </label>
            </p>
            <p>
                <input id="tool-start-day" type="date" name="formstart_date" pattern="mm/dd/yyyy" />
                <label for="tool-start-day">Start Date </label>
            </p>
            <p>
                <input id="tool-end-day" type="date" name="formend_date" pattern="mm/dd/yyyy" />
                <label for="tool-end-day">End Date </label>
    
            </p>
            <p>
                <input type="file" id="file" name="file" />
            </p>
            <p>
                <input class="submit-button" type="submit">
            </p>
        </form>
      
        </div>
    </div>
</div>


{% endblock %}