{% extends 'base.html' %}
{% block title %}NearME reservation page{% endblock %}
{% block body %}


<h3> Hello {{user.first_name}}! These are all your Reserved Tools!</h3>

<div id="reserved-tools">
    {% for res in reservations %}
    <div id="reservation-{{res.reservation_id}}">
        <h3>Item Name:</h3>
        <p> {{res.tool.tool_name}}</p>
        <h3>Description:</h3>
        <p> {{res.tool.description}}</p>
        <h3>Location:</h3>
        <p> {{res.tool.user.address}}</p>
        <h3>Posted by:</h3>
        <p> {{res.tool.user.first_name}}</p>
        <h3>available days:</h3>
        <p> {{res.tool.availability_start}}| {{res.tool.availability_end}}</p>
        {% if res.tool.tool_image %}
        <p><img src="{{res.tool.tool_image }}"> {{res.tool.tool_image}}</p><br>
        {% endif %}
        <br>
        <button class="delete-reservation" value="{{res.reservation_id}}">Cnecele Reservation</button>
        <!-- <a href="/user/reservation/delete/{{res.reservation_id}}">Cencel Reservation</a> -->
        {% endfor %}
    </div>
</div>

<a href="/dashboard"></a>
{% endblock %}