{% extends 'base.html' %}
{% block title %}NearME reservation page{% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block body %}


<!-- <h4> Hello {{user.first_name}}! These are all your Reserved Tools!</h4> -->

{% if session.get('user_id') %}
<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div id="reserved-tools">
            <div class="col-">
                <div class="product-details">
                    <div class="link-home" >
                        <a href="/dashboard" ><i class="fa fa-home" ></i> 
                            <!-- <p>{{ user.first_name}} These are all your Reserved Tools!</p> -->
                        </a> 
                    <hr>
                    <div class="d-flex justify-content-between"><span>Hey {{ user.first_name}}! You have {{reservations|length}} items in your cart</span>
                        <div class="d-flex flex-row align-items-center"><span class="text-black-50"></span>
                            <!-- <div class="price ml-4"><span class="mr-1">price</span> -->
                        </div>
                    </div>
                </div>
                    {% for res in reservations %}
                    <div id="reservation-{{res.reservation_id}}">
                        <div class="d-flex align-items-center mt-5 p-2 items rounded ">
                            <!-- ////////////////////////////////////////// -->
                            <div class="d-flex flex-row ">
                                <!-- {% if res.tool != None %} -->
                                <img class="rounded" src="{{res.tool.tool_image }}" width="150">
                                <div class="ml-2"><span class="font-weight-bold d-block">{{res.tool.tool_name}}</span>
                                    <p><span class="spec">{{res.tool.description}}</span>
                                    {% if res.start_date !=None and res.end_date !=None%}
                                    <span class="spec"> {{res.start_date.strftime("%m/%d/%y")}}|
                                        {{res.end_date.strftime("%m/%d/%y")}}</span>
                                    <!-- {% endif %} -->
                                    {% endif %}
                                </p>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center"><span class="d-block"></span><span
                                    class="d-block ml-5 font-weight-bold">${{res.total}}</span>
                            </div>
                            <br>
                            <button class="delete-reservation  fa fa-trash mb-1 text-danger" value="{{res.reservation_id}}"></button>

                            <p>{{reservations|length}}</p>

                            <a class="check-out" href="/checkout" value="{{res.reservation_id}}">Proceed to checkout
                            </a>
                            <!-- <a class="check-out btn btn-primary" href="/payment/success" value="{{res.reservation_id}}">
                                Proceed to checkout
                            </a> -->
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- <script src="/static/js/checkout.js"> </script>
<script src="https://checkout.stripe.com/checkout.js" 
    data-key="pk_test_51IsWrSDCSJx1xfN2KRMslaOm7pQnj52LZJGEjDGqCF7ofdHSR4mbpUXmDXv9ntRds8kul4pPma49UCsqw84qlzgl00zEQLuYY2"
    data-currency="usd">
</script> -->
{% endblock %}