<h1> Hello {{user.first_name}}! You are now edditing your tool detail information! </h1>

<h2>Create a Tool </h2>
<form action="/tools/{{tool.tool_id}}/edit" method="POST">
    <p>
        Tool Name<input type="text" name="name" value="{{tool.tool_name}}">
    </p>
    <p>
        Description <input type="text" name="description" value="{{tool.description}}"> </p>
    <p>
        Price<input type="number" step="0.01" name="price" value="{{tool.price}}">
    </p>
    <p>
        Start Date:<input input type="date" name="formstart_date" value="{{tool.availability_start}}">
    </p>
    <p>
        End Date:<input input type="date" name="formend_date" value="{{tool.availability_end}}">
    </p>
    <p>
        Add an image:<input type="image" width="48" height="48" value="{{tool.description}}">
    </p>
    <p>
        <input type="submit">
    </p>
    <a href="/"> Cancel </a> 
</form>