{% extends 'base.html' %}
{% block title %}NearME tool edit page{% endblock %}
{% block body %}
<h1> Hello {{user.first_name}}! You are now able to  editing your tool detail information! </h1>

<h2>Editing a Tool </h2> 
<form action="/tools/{{tool.tool_id}}/edit" method="POST">
    <p>
        Tool Name<input type="text" name="name" value="{{tool.tool_name}}">
    </p>
    <p>
        Description <input type="text" name="description" value="{{tool.description}}"> </p>
    <p>
        Price<input type="number" step="0.01" name="price" value="{{tool.price}}">
    </p>
    <p>
        Start Date:<input input type="date" pattern="mm/dd/yyyy"  name="formstart_date" value="{{tool.availability_start}}">
    </p>
    <p>
        End Date:<input input type="date" pattern="mm/dd/yyyy" name="formend_date" value="{{tool.availability_end}}" >
    </p>
    <p>
        Upload your img: <input type="file" id="file" name="file" >
    </p>
    <p>
        <input type="submit">
    </p>
    <a href="/dashboard"> Cancel </a> <br>
    <a a href="/tools/delete/{{tool.tool_id}}">Delete</a>
</form>
{% endblock %}